<div class="sidebar-menu">
    <div class="logo"> <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="#"> <span id="logo" ></span> 
        <!--<img id="logo" src="" alt="Logo"/>--> 
    </a> </div>		  
  <div class="menu">
    <ul id="menu" >
      <li id="menu-home" ><a href="./"><i class="fa fa-tachometer"></i><span>Bảng điều khiển</span></a></li>
      <li><a href="#"><i class="fa fa-cogs"></i><span>Thống kê doanh số</span><span class="fa fa-angle-right" style="float: right"></span></a>
        <ul>
          <li><a href="#">Top 10 sản phẩm phổ biến</a></li>
          <li><a href="#">Doanh số bán hàng theo các ngày tuần tháng quý</a></li>		            
        </ul>
      </li>
      <li id="menu-comunicacao" ><a href="#"><i class="fa fa-book nav_icon"></i><span>Quản lí hàng hóa</span><span class="fa fa-angle-right" style="float: right"></span></a>
        <ul id="menu-comunicacao-sub" >	              
          <li id="menu-arquivos" ><a href="#">Tình trạng giao hàng</a></li>
          <li id="menu-arquivos" ><a href="#">Mặt hàng trên gian hàng</a></li>
        </ul>
      </li>
        <li><a href="maps"><i class="fa fa-map-marker"></i><span>Bản đồ</span></a></li>
      <li id="menu-academico" ><a href="#"><i class="fa fa-file-text"></i><span>Trang</span><span class="fa fa-angle-right" style="float: right"></span></a>
        <ul id="menu-academico-sub" >
             <li id="menu-academico-boletim" ><a href="login">Đăng nhập</a></li>
          <li id="menu-academico-avaliacoes" ><a href="signup">Đăng kí</a></li>		           
        </ul>
      </li>
      
      <li><a href="#"><i class="fa fa-user"></i><span>Quản lí tài khoản</span></a></li>
      <li><a href="#"><i class="fa fa-envelope"></i><span>Hộp thư thoại</span><span class="fa fa-angle-right" style="float: right"></span></a>
           <ul id="menu-academico-sub" >
              <li id="menu-academico-avaliacoes" ><a href="inbox">Tin nhắn đến</a></li>
              <li id="menu-academico-boletim" ><a href="inbox_2">Soạn email</a></li>
           </ul>
      </li>
       <li><a href="#"><i class="fa fa-cog"></i><span>Hệ thống</span><span class="fa fa-angle-right" style="float: right"></span></a>
            <ul id="menu-academico-sub" >
              <li id="menu-academico-avaliacoes" ><a href="404">404</a></li>
              <li id="menu-academico-boletim" ><a href="blank">Chỗ trống</a></li>
           </ul>
       </li>
       <li><a href="#"><i class="fa fa-shopping-cart"></i><span>Thương mại điện tử</span><span class="fa fa-angle-right" style="float: right"></span></a>
           <ul id="menu-academico-sub" >
              <li id="menu-academico-avaliacoes" ><a href="product">Sản phẩm</a></li>
              <li id="menu-academico-boletim" ><a href="#">Giá</a></li>
           </ul>
       </li>
    </ul>
  </div>
</div>
<div class="clearfix"> </div>
</div>